{% extends "layout.html" %}
{% load static %}

{% block css_files %}

<link rel="stylesheet" href="{% static "css/style.css" %}">

{% endblock%}

{% block content %}

    {% block jumbotron %}
    
    <main role="main">

        <div class="jumbotron">
          <div class="container">
            <img class="container-fluid" src="{% static "img/hakkimizda-banner.png" %}" alt="">
          </div>  

          <div class="container">
            <h1 class="display-3 text-dark">Biz Kimiz?</h1>
            <p>Geleneksel eğitimin olmazsa olmazlarını çağdaş eğitim teknikleri ve teknoloji ile birleştiriyoruz. Öğrencileri ve Öğretmenleri fiziksel dünyanın engellerinden kurtararak etkili bir eğitim ortamı sağlıyoruz. Ne öğrenci sırt çantasıyla yol gitmek zorunda ne de öğretmen oradan oraya yetişmek için koşuşturma mecburiyetinde. Randevu alın, hemen tanışalım.</p>
            <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Randevu Al &raquo;</a></p>>-->
          </div>
        </div>
        
        <div class="container my-3">
          <div class="row">
            <div class="col-md-4">
              <i class="bi bi-activity"></i>
              <h2 class="text-dark">Misyonumuz</h2>
              <p>Eğitim ve öğretime ulaşma konusundaki engelleri ortadan kaldırmak. Kaliteli eğitime ulaşımı arttırarak kalifiye bireylerin yetişmesine katkıda bulunmak. </p>
              
            </div>
            <div class="col-md-4">
              <h2 class="text-dark">Vizyonumuz</h2>
              <p>Eğitim ve öğretimi en güncel teknik ve teknolojiler ile buluşturmak. Makine öğrenmesi ve yapay zeka ile hazırlık sürecinde daha uygun çalışma programları oluşturarak eğitim sürecini kişiselleştirmek. </p>
            </div>
            <div class="col-md-4">
              <h2 class="text-dark">Hedefimiz</h2>
              <p>Türkiye çapında 100.000 öğretmen ve öğrenciyi birbiri ile buluşturmak.</p>
            </div>
          </div>
          <hr>
        <div class="row">
            <h1 class="text-center text-dark">Yolda Kaybettiğiniz Zaman Size Kalsın!</h1>
        </div>  
        <hr>
        </div>
        
        </div> 
      </main>
    
    {% endblock%}

{% endblock content %}



