{% extends "layout.html" %}
{% load static %}

{% block css_files %}

<link rel="stylesheet" href="{% static "css/style.css" %}">

{% endblock%}

{% block content %}

    {% block jumbotron %}
    
    <main role="main">

        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3 text-dark">Biz Kimiz?</h1>
            <p>Geleneksel eğitimin olmazsa olmazlarını çağdaş eğitim teknikleri ve teknoloji ile birleştiriyoruz. Öğrencileri ve Öğretmenleri fiziksel dünyanın engellerinden kurtararak etkili bir eğitim ortamı sağlıyoruz. Ne öğrenci sırt çantasıyla yol gitmek zorunda ne de öğretmen oradan oraya yetişmek için koşuşturma mecburiyetinde. Randevu alın, hemen tanışalım.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Randevu Al &raquo;</a></p>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <i class="bi bi-activity"></i>
              <h2 class="text-dark">Misyonumuz</h2>
              <p>Eğitim ve öğretime ulaşma konusundaki engelleri ortadan kaldırmak. Kaliteli eğitime ulaşımı arttırarak kalifiye bireylerin yetişmesine katkıda bulunmak. </p>
              
            </div>
            <div class="col-md-4">
              <h2 class="text-dark">Vizyonumuz</h2>
              <p>Eğitim ve öğretimi en güncel teknik ve teknolojiler ile buluşturmak. Makine öğrenmesi ve yapay zeka ile hazırlık sürecinde daha uygun çalışma programları oluşturarak eğitim sürecini kişiselleştirmek. </p>
            </div>
            <div class="col-md-4">
              <h2 class="text-dark">Hedefimiz</h2>
              <p>Türkiye çapında 100.000 öğretmen ve öğrenciyi birbiri ile buluşturmak.</p>
            </div>
          </div>
          <hr>
        <div class="row">
            <h1 class="text-center text-dark">Yolda Kaybettiğiniz Zaman Size Kalsın!</h1>
        </div>  
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                  <i class="bi bi-trophy-fill display-5 text-primary mx-3"></i>
                  <h4 class="text-dark">Alanında <br> Uzman Kadro</h2>
                </div>
                <p>Hepsi deneyimli öğretmen kadromuzla başarı artık çok yakın!</p>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                  <i class="bi bi-cursor-fill display-4 text-primary mx-3"></i>
                  <h4 class="text-dark">Derse Ulaşmak Artık Çok Kolay</h2>
                </div>
                <p>TKaydolun ve size en uygun öğretmen ile hemen derse başlayın.</p>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                  <i class="bi bi-pencil-square display-4 text-primary mx-3"></i>
                  <h4 class="text-dark">Uzaktan <br> Özel Ders</h2>
                </div>
                <p>Grafik tabletler ile sınıf ortamını ve tahtayı aratmayan eğitim ortamımızda yalnızca konuya odaklanın.</p>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                  <i class="bi bi-laptop display-4 text-primary mx-3"></i>
                  <h4 class="text-dark">Her Yerden <br> Katılım</h2>
                </div>
                <p>"O saatte yetişemem", "O tarihte tatilde olacağım" sorunlarına son! Her yerden, her zaman özel ders.</p>
            </div>
        </div>
        </div> 
      </main>
    
    {% endblock%}

{% endblock content %}



