{% extends "layout.html" %}
{% load static %}

{% block css_files %}

    <link rel="stylesheet" href="{% static "css/style.css" %}">

{% endblock%}       

{% include "partials/_header.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Hizmetlerimiz</h1>
                <p>Öğrencinizin ihtiyaçlarına uygun şekilde eğitim bilimleri ekseninde özel olarak oluşturulmuş yöntemlerle kaliteli eğitim bir tık uzağınızda. </p>
                <h3>İstediğiniz Zaman, İstediğiniz Yerde.</h1>
                <div class="row">
                    <div class="col-6 my-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Alanında Uzman Kadro</h4>
                                <p class="card-text">Hepsi deneyimli öğretmen kadromuzla başarı artık çok yakın!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 my-2">
                        <div class="card">
                            <div class="card-body">
                                <i class="bi bi-mortarboard display-1 text-warning"></i>
                                <h4 class="card-title">Tek Tıkla Özel Ders</h4>
                                <p class="card-text">Kaydolun ve size en uygun öğretmen ile hemen derse başlayın.</p>
                            </div>
                        </div>
                    </div>
                </div><div class="row">
                    <div class="col-6 my-2">
                        <div class="card">
                            <div class="card-body">
                                <i class="bi bi-mortarboard display-1 text-warning"></i>
                                <h4 class="card-title">Uzaktan Özel Ders</h4>
                                <p class="card-text">Grafik tabletler ile sınıf ortamını ve tahtayı aratmayan eğitim ortamımızda yalnızca konuya odaklanın.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 my-2">
                        <div class="card">
                            <div class="card-body">
                                <i class="bi bi-mortarboard display-1 text-warning"></i>
                                <h4 class="card-title">Her Yerden Katılım</h4>
                                <p class="card-text">"O saatte yetişemem", "O tarihte tatilde olacağım" sorunlarına son! Her yerden, her zaman özel ders.</p>
                            </div>
                        </div>
                    </div>
                    <img class="my-5" src="{% static "img/hizmetler-banner.png" %}" alt="">
                </div>
            </div>
            <div class="container-fluid card-group col-6 justify-content-center">
            
                {% for service in services %}
                
                    <div class="col-md-6">
                        <div class="card">
                            <img class="card-img-top" src="{% static service.pic %}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">{{service.name}}</h4>
                                <p class="card-text">{{service.explanation}}</p>
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
        
            </div>  
            
        </div>
    </div>
{% endblock %}

{% include "partials/_footer.html" %}
